# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Environment variables (IMPORTANT)
.env

# Data (do not commit raw data)
data/
*.csv
*.parquet

# IDE / OS
.vscode/
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/